/* css styles */

/* Define your local font */
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the font globally */
body {
    font-family: 'MyCustomFont' !important;
}

/* Or apply it to specific elements like headers */
h1, h2, h3 {
    font-family: 'MyCustomFont';
}


.custom-card {
  background-color: #A93154FF; /* Fondo azul */
  color: white;              /* Texto en blanco para contraste */
  padding: 10px;             /* Espacio interno */
  border-radius: 5px;        /* Bordes redondeados opcionales */
  margin-bottom: 1px;
  font-size: 15px;
  margin: -10px;
  margin-top: -16px;
  margin-bottom: -15px;
}

.textoAlerts {
  margin-left: 70px;
  position: relative;
  top: -17px;
  right: 40px;
}

.alertas {
  background-color: #A93154FF; /* Fondo azul */
  color: white;              /* Texto en blanco para contraste */
  margin-top: -16px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 70px;
  position: relative;
  top: -19px;
  right: -5px;
}

.bi-exclamation-triangle-fill::before {
    content: "\f33a";
    font-size: 42px;
    position: relative;
    top: 3px;
}



.bslib-gap-spacing>.bslib-mb-spacing, .bslib-gap-spacing>.form-group, .bslib-gap-spacing>p, .bslib-gap-spacing>pre {
    margin-bottom: -20px;
}


.title-style {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
} 

.fecha-style {
  font-size: 0.8em;
  margin-left: 20px;
} 


.quarto-dashboard #quarto-dashboard-header .navbar{
  background-color: #057743;
  color: white;
}

.quarto-dashboard #quarto-content.quarto-dashboard-content {
    padding: 0em;
}


.bslib-value-box.showcase-left-center:not([data-fill-screen=true]) .value-box-grid .value-box-area{
  margin-top: -15px;
  margin-bottom: -40px;
  color: white
}

.bslib-card .card-body p:last-child{
  margin-bottom: 16px;
}

.quarto-dashboard .bslib-value-box .value-box-value {
    font-size: clamp(.1em, 8cqw, 5em);
    margin-top: -10px;
}

.quarto-dashboard .bslib-value-box .value-box-showcase .bi::before {
    vertical-align: 1em;
    color: white;
}


.quarto-dashboard .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e4e3e0;
}


.quarto-dashboard .card-header .card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    font-weight: bold;
}

.cell-output-display:not(.no-overflow-x), .knitsql-table:not(.no-overflow-x) {
    overflow-x: auto;
    height: 706px;
}


.quarto-dashboard .card .card-body {
    z-index: 4;
    text-align: justify;
}



.quarto-dashboard .bslib-value-box .value-box-value {
    margin-top: -10px;
    font-size: 25px;
}


.quarto-dashboard .bslib-value-box .value-box-showcase .bi {
    font-size: clamp(.1em, max(10cqw, 5.2cqh), 5em);
    text-align: center;
    height: 1em;
}